@keyframes trippy{
    0% {background-color: rgb(130,0,0);}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: rgb(130,0,0);}
}

body {
    background: rgb(96,162,145);
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: rgb(130,0,0);
    animation-name: trippy;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

::-webkit-scrollbar
{
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.scroll-container{
    overflow-y: scroll;
    margin-top: 20px;
    height: 400px;
}

.flex-container{
    display: flex;
    width: 800;
    height: 400;
    background-color: royalblue;
    justify-content: center;
}

.flex-item{
    width: 400px;
    height: 100px;
    margin: 20px;
    background-color: orange;
}

.text-input{
    height: 30px;
    width: 400px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.container{
    float:left;
    clear:none;
}

.button{
    position: relative;
    margin-left: 5px;
    color: white;
    background-color: rgba(32, 105, 33, 1);
    font-family: cursive;
    border-radius: 15px;
    font-size: 15;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 3px #999;
    overflow: hidden;
}

.button:hover{
    background-color: rgba(42, 210, 48, 1);
}

.complete{
    font-style: italic;
    font-weight: normal;
}

.incomplete{
    font-style: normal;
    font-weight: bold;
}

.complete-count{
    width: 50px;
    height: 30px;
    text-align: center;
    font-family: cursive;
    font-size: 14;
    font-weight: bold;
    color: white;
}

.display-message{
    height: 30px;
    text-align: center;
    font-family: cursive;
    font-size: 14;
    font-weight: bold;
    color: white;
}

.hidden{
    display: none;
}
